<%- include("partials/header") -%>

<h1>Home</h1>


<h4>Hello, everyone, and welcome to this Wonderful Journal.</h4>
<h4>It is an Open Journal where you can share your thoughts, write stories, post some facts and share this blog with your friends.</h4>
<h4>Thank you!!!!</h4>

    <% posts.forEach(function(post){ %>
        <h2> <%= post.title %> </h2>
        <h4> 
            <%= post.content.substring(0, 100) + "..." %> 
            <a href="/posts/<%= post._id %>">Read more</a>
            <br>
            <!-- <a href="/posts/<%= post._id %>/delete">Delete</a> -->
        </h4>
    <% }) %>

<%- include("partials/footer") -%>